@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    color: #ffffff;
    font-weight: 400;
}

#page-1, #page-2, #page-3 {
    height: 40vh !important;
}

